# Salin file ini jadi ".env" lalu isi dengan kredensial Supabase kamu
# (Project Settings -> API di dashboard Supabase)
# JANGAN commit file .env ke GitHub - hanya .env.example yang boleh di-commit

VITE_SUPABASE_URL=https://geisjuzvoneotxlwydnv.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdlaXNqdXp2b25lb3R4bHd5ZG52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzNTUxOTUsImV4cCI6MjEwNDkzMTE5NX0.8OSJGRv-ukF1a1UAPCiJUhuNdzYUe20ev28P2g4-XCo
